@CHARSET "UTF-8";

body {
	background-color: #EEE;
}

.header {
	width: 1000px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.logo {
	float: left;
}

.header-right {
	float: right;
	font-size: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.address {
	clear: both;
}

.address span {
	float: left;
}

.address ul {
	float: left;
}

.address li {
	float: left;
	padding: 0 10px;
}

.phone {
	clear: both;
	float: left;
	margin-top: 8px;
}

.phone span {
	float: left;
}

.phone h5 {
	float: left;
	padding: 0 10px;
	font-size: 20px;
	margin-top: -5px;
}

.content {
	margin: 0 auto;
	width: 1000px;
}

#poster {
	margin: 0 auto;
	width: 1000px;
	display: none;
}

.photo {
	width: 500px;
	height: 200px;
	float: left;
}

.customer {
	float:left;
	height: 60px;
}

.customer li {
	float: left;
}
.maincontent
	{
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #AAA;
	margin-top:25px;
		height: 400px;
		padding-top: 5px;
	}
.reg
	{
	float:left;
		width: 200px;
		height: 80px;
		font-size: 20px;
	}
.weibo {
	width: 300px;
	height: 300px;
	float: right;
	background-color: #fff;
}

.footer {
	width: 1000px;
	height: 100px;
	background-color: #CCC;
	margin: 0 auto;
	text-align: center;
	font: 12px arial;
}

.license {
	float: left;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #AAA;
	width: 600px;
	margin-top: 35px;
	margin-left: 200px;
	padding: 5px;
}